html{
  height: 100%;
}
body{
  background-image: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0 20px;
    min-width: 35vh;
    min-height: 50vh;

  }

  .btn {
      padding: 10px 25px;
      background: white;
      outline: none;
      border: 1px solid #4CAF50;
  }

  .btn:hover{
    cursor: pointer;
      background: #4CAF50;
      color: white;
  }

  h2{
    font-weight: 700;
    font-size: 2.5rem;
  }